<div id="<%= dom_id event %>">
  <div class="prose">
    <h1><%= event.name %></h1>

    <div class="not-prose">
      <p class="text-2xl font-semibold tracking-tight">
        <%= event.start_date.strftime("%b %d, %Y") %>
      </p>
      <p>
        <%= event.start_date.strftime("%l:%M%P") %>
        <%= event.end_date.strftime("- %l:%M%P") %>
      </p>
    </div>

    <%= event.description %>

    <p>
      <%= number_to_currency(event.price) %>
    </p>
  </div>

  <% if action_name != "show" %>
    <div>
      <%= link_to "Show this event", event, class: button_class(theme: 'show', variant: 'small') %>
      <%= link_to 'Edit this event', edit_event_path(event), class: button_class(theme: 'update', variant: 'small') %>
      <hr class="mt-6">
    </div>
  <% end %>
</div>
