<%= form_with(model: [@product, product_variant], class: form_wrapper) do |form| %>
  <% if product_variant.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(product_variant.errors.count, "error") %> prohibited this product_variant from being saved:</h2>

      <ul>
        <% product_variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :product_id, value: @product.id %>

  <div>
    <%= form.label :name, 'Variant Name' %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: :any, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>



  <div>
    <%= form.submit class: button_class(theme: 'update', variant: 'small') %>
  </div>
<% end %>
