<div id="<%= dom_id product_variant %>" class="flex items-center justify-between p-4 bg-white">
  <div class="flex items-center space-x-2">
    <p class="font-semibold">
      <%= product_variant.name %>
    </p>

    <p>
      <%= number_to_currency(product_variant.price)  %>
    </p>
  </div>

  <% if action_name != "show" %>
    <div class="space-x-2">
      <%= link_to "Show this product variant", category_product_product_variant_path(@category, @product, product_variant), class: button_class(theme: 'show', variant: 'small') %>
      <%= link_to 'Edit this product variant', edit_category_product_product_variant_path(@category, @product, product_variant), class: button_class(theme: 'update', variant: 'small') %>
    </div>
  <% end %>
</div>
