<div class="<%= page_container %>">
  <div class="mx-auto space-y-12">
    <% if notice.present? %>
      <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
    <% end %>

    <div class="grid items-center gap-12 overflow-hidden bg-white lg:grid-cols-5 rounded-2xl">

      <div class="flex items-center justify-center h-full p-12 text-white bg-gray-700 lg:col-span-3">
        <div class="space-y-4">
          <h1 class="font-bold"><%= @product_variant.name %> of <%= @product.name %></h1>
          <p class="font-black text-7xl"><%= number_to_currency(@product_variant.price)  %></p>
        </div>
      </div>
      <div class="p-6 lg:col-span-2">
        <img src="<%= @product.category.image %>" alt="" class="w-full h-auto">
      </div>
    </div>



    <%= link_to "Edit this #{@product.name} variant", edit_product_product_variant_path(@product, @product_variant), class: button_class(theme: 'update', variant: 'small') %>
    <%= link_to "Back to #{@product.name} variants", product_product_variants_path, class: button_class(theme: 'back', variant: 'small') %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this #{@product.name} variant", product_product_variant_path(@product, @product_variant), method: :delete, class: button_class(theme: 'destroy', variant: 'small') %>
    </div>
  </div>
</div>
