<div class="<%= page_container %>">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between mb-12">
    <h1 class="text-4xl font-bold">Products</h1>
    <%= link_to 'New product', new_product_path, class: button_class(theme: 'create', variant: 'small') %>
  </div>

  <div id="products" class="grid grid-cols-2 gap-6 lg:gap-12 lg:grid-cols-3">
    <% @products.each do |product| %>
      <div class="relative bg-white shadow cursor-pointer rounded-2xl">
        <div class="relative">
          <img src="<%= product.product_image %>" alt="Product" loading="lazy" class="w-full rounded-t-2xl" width="328" height="326">
          <span class="absolute top-0 transform -translate-y-1/2 left-4 bg-gray-900 text-white py-0.5 px-1.5 rounded text-xs tracking-widest font-semibold">
            <%= product.category.name %>
          </span>
        </div>
        <div class="flex items-center justify-between p-4 space-x-2">
          <p class="font-medium"><%= product.name %></p>
          <% if (product.discontinued_on.to_date - Date.today.to_date).to_i < 10 %>
            <p class="font-semibold text-red-500">Only <%= (product.discontinued_on.to_date - Date.today.to_date).to_i %> days left!</p>
          <% end %>
        </div>
        <a href="<%= product_url(product)%>" class="absolute inset-0 cursor-pointer" aria-label="View product"></a>
      </div>
    <% end %>
  </div>
</div>
